@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .crisp-edges {
    image-rendering: crisp-edges;
  }
}

@font-face {
  font-family: "Outfit";
  src: url("/utopia/fonts/Outfit-VariableFont_wght.woff2") format("woff2");
  font-weight: 100 900; /* Rango de pesos si es variable */
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
  font-family: "Outfit"; /* Aplica la fuente al cuerpo del sitio */
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* Para Chrome y Safari */
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Para Firefox */
}

.menucardShadow {
  box-shadow: 0px 4px 8px 0px #003c6a0a;
}

.activeButtonShadow {
  box-shadow: 0px 4px 4px 0px #00000040;
}

.inactiveButtonShadow {
  box-shadow: 0px 4px 4px 0px #00000018;
}

.boxShadow {
  box-shadow: 0px 9px 10px 0px rgba(0, 60, 106, 0.04);
}

.menu {
  background: #f6f6f6;
  width: 250px;
  padding: 10px 0;
  box-sizing: border-box;
}

.no-pointer-events {
  pointer-events: none;
}

.custom-date-picker,
.custom-date-picker > div.react-datepicker-wrapper,
.custom-date-picker
  > div
  > div.react-datepicker__input-container
  .custom-date-picker
  > div
  > div.react-datepicker__input-container
  input {
  width: 100% !important;
  display: block;
}
.custom-datepicker .react-datepicker-popper {
  z-index: 50 !important;
}

@layer components {
  .iframeStyle {
    height: -webkit-fill-available;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(50px);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

.animate-fade-out {
  animation: fade-out 0.3s ease-out;
}


.full-width-date-picker {
  width: inherit !important;
}

.full-width-date-picker-input {
  width: 100% !important;
}

.descriptionMenuCardShadow {
  box-shadow: 7px 11px 10px 0px #003c6a1f;
}

.header-image {
  position: relative;
  height: 123px;  
}
.header-sub {
  position: absolute;
  top: 0;
  left: 0;
  height: 96px;
  margin-top: 27px;
}
.header-sub-image {    
  position: absolute;
  top: -29px;
  left: 0;
  height: 96px;
  margin-top: 27px;
  z-index: 10;
}

.header-sub-text {    
  position: absolute;  
  left: 210px;  
  margin-top: 35px;  
  z-index: 5;
}

/* Estilos para el formulario de survey */
.sd-container-modern {
  background-color: #F6F6F6 !important; /* Asegúrate de usar !important si es necesario */
}

.sd-body {
  max-width: 100% !important;
}

@media (width >= 1536px) {
  .sd-body {
    max-width: 80% !important;
  }
}

.sv-string-viewer {
  color: #003DA5;
}

.sd-page__title .sv-string-viewer {
  font-weight: 700 !important;
  font-size: 30px !important;
}

.sd-question__header .sv-string-viewer {
  font-size: 20px !important;
}

.sd-selectbase {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sd-item {
  display: flex;
  flex-direction: row;
  width: 66%;
  max-width: 500px;
}

.sd-selectbase__label {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  cursor: pointer !important;
}

.sd-sd-selectbase__label:hover {
  cursor: pointer !important;
}

.sd-item__control-label {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.sd-item__decorator {
  width: 41px;
  height: 41px;
}

.sd-radio--checked .sd-item__control-label{
  background-color: #97D700 !important;
  color: white !important;
}

.sd-radio--checked .sd-radio__decorator:after {
  transform: translateX(-400%);
  background-color: white !important;
}


.sd-selectbase .sd-item:nth-child(1) .sd-selectbase__label .sd-item__decorator {
  background-color: #FF8383;
}

.sd-selectbase .sd-item:nth-child(2) .sd-selectbase__label .sd-item__decorator {
  background-color: #FCBC68;
}

.sd-selectbase .sd-item:nth-child(3) .sd-selectbase__label .sd-item__decorator {
  background-color: #E7E064;
}

.sd-selectbase .sd-item:nth-child(4) .sd-selectbase__label .sd-item__decorator {
  background-color: #A8D08D;

}

.sd-selectbase .sd-item:nth-child(5) .sd-selectbase__label .sd-item__decorator {
  background-color: #00B050;
}

.sd-selectbase .sd-item:nth-child(1) .sd-selectbase__label .sd-item__decorator::before {
  content: "1";
  color: white;
  transform: translateX(40%);
}

.sd-selectbase .sd-item:nth-child(2) .sd-selectbase__label .sd-item__decorator::before {
  content: "2";
  color: white;
  transform: translateX(40%);
}

.sd-selectbase .sd-item:nth-child(3) .sd-selectbase__label .sd-item__decorator::before {
  content: "3";
  color: white;
  transform: translateX(40%);
}

.sd-selectbase .sd-item:nth-child(4) .sd-selectbase__label .sd-item__decorator::before {
  content: "4";
  color: white;
  transform: translateX(40%);
}

.sd-selectbase .sd-item:nth-child(5) .sd-selectbase__label .sd-item__decorator::before {
  content: "5";
  color: white;
  transform: translateX(40%);
}

.sd-item__control-label {
  border-radius: 28px !important;
  box-shadow: 0px 4px 10px 0px #0000001A !important;
}

.sd-progress {
  height: 4px !important;         
  border-radius: 8px !important;     
}

