@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-toastify/dist/ReactToastify.css';


.full-width-date-picker {
  width: inherit !important;
}

.full-width-date-picker-input {
  width: 100% !important;
}